.skill {
    background-color: #111132;
    height: 100%;
    color: #fff;

    .progress {

        top: 0;
        left: 0;
        padding-top: 30px;
        text-align: center;
        color: orange;
        font-size: 30px;

        h3 {
            font-size: 18px;
            padding-top: 1px;
            color: #fff;
        }
    }

    .container {
        display: flex;

        justify-content: space-evenly;
        padding-top: 10px;

        h1 {
            font-size: 22px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: 400;
        }

        .frontend {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            // justify-content: center; 
            // align-items: center; 

            .front {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-color: #f0f1f1f7;
                box-shadow: 0px 0px 20px rgb(147, 146, 148);


                img {
                    height: 60px;
                    width: 60px;
                    max-width: 100%;
                    max-height: 100%;

                    margin-left: 30px;
                    margin-top: 15px;




                }

                p {
                    color: black;
                    text-align: center;
                    padding-bottom: 5px;
                }
            }
        }

        .backend {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;

            .back {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-color: #f0f1f1f7;
                
                box-shadow: 0px 0px 20px rgb(147, 146, 148);


                img {
                    height: 60px;
                    width: 60px;
                    max-width: 100%;
                    max-height: 100%;

                    margin-left: 30px;
                    margin-top: 15px;




                }

                p {
                    color: black;
                    text-align: center;
                    padding-bottom: 5px;
                }
            }
        }

        .framework {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            .frame {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                background-color: #f0f1f1f7;
                box-shadow: 0px 0px 20px rgb(147, 146, 148);

                img {
                    height: 60px;
                    width: 60px;
                    max-width: 100%;
                    max-height: 100%;

                    margin-left: 30px;
                    margin-top: 15px;




                }

                p {
                    color: black;
                    text-align: center;
                    padding-bottom: 5px;
                }
            }
        }
        .healTitle{
            background-color: orange;
            
        }
        .edu {
            display: flex;

            justify-content: center;
            gap: 50px;

        }

        .title {
            padding-top: 30px;
            
        }

        .edu1 {
            display: flex;

            justify-content: center;
            gap: 50px;

        }

        .des {
            padding-top: 10px;
        }
        .head{
            color: orange;
        }
       
    }
}