.aboutMe {
    // position: relative;
    // background: linear-gradient(180deg, #0c0c1d, #111132);
    background-color: #111132;

    .progress {
        // position: sticky;
        top: 0;
        left: 0;
        padding-top: 80px;
        text-align: center;
        color: orange;
        font-size: 30px;

        h3 {
            font-size: 18px;
            padding-top: 8px;
            color: #fff;
        }
    }

    .container {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 100px 0px 260px 0px;
        .box {
            display: flex;
            align-items: center;
            justify-content: center;

            .card {
                height: 200px;
                width: 200px;
                background-color: #fff;
                margin-right: 30px;
                padding-top: 30px;

                border: none;
                border-radius: 10px;
                box-shadow: 0px 0px 30px rgb(147, 146, 148); /* Adjust the values as needed */

                h1 {
                    text-align: center;
                    color: black;
                }

                p {
                    text-align: center;
                    color: black;
                }

                img {
                    height: 50px;
                    width: 50px;
                    align-items: center;
                    margin-left: 80px;
               
                }
            }
        }

        .text{
            text-align: justify;
            color: #fff;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.5;
        }

    }
}